@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
#root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer components{
  .btn1{
    @apply transition-all  bg-p text-slate-900 px-5 py-3 m-3 rounded-lg hover:bg-s;
  }
  .btn2{
    @apply transition-all border-p border-2  text-p px-5 py-3 m-3 rounded-lg hover:border-s hover:text-s;
  }
}